h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1, h2, h4 {
    font-family: 'Markazi Text', serif;
}

h3, p, button {
    font-family: Karla, sans-serif;
}

.container {
    padding: 30px 17%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-family: Karla, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color:#F4CE14;
    font-size: clamp(34pt, 5vw, 64pt);
    font-weight: 500;
}

h2 {
    color: #FFF;
    font-size: clamp(24pt, 5vw, 40pt);
    font-weight: normal;
}

h3 {
    color: #000;
    font-size: clamp(14pt, 3vw, 18pt);
    font-weight: bold;
}

h4 {
    color: #495E57;
    font-size: 20pt;
    font-weight: bold;
}

figure {
    padding: 0;
    margin: 0;
}

p {
    color: #495E57;
    font-size: clamp(12pt, 1.5vw, 16pt);
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

button {
    background-color: #F4CE14;
    border: none;
    border-radius: 16px;
    color: #000;
    cursor: pointer;
    font-size: clamp(14pt, 1.5vw, 18pt);
    font-weight: bold;
    height: 40px;
    width: 200px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.borderRadius {
    border-radius: 16px;
}