h1 {
    color:#F4CE14;
    font-size: 64pt;
    font-weight: 500;
}

h2 {
    color: #FFF;
    font-size: 40pt;
    font-weight: normal;
}

.container {
    padding: 0px 17%;
}

figure {
    padding: 0;
    margin: 0;
}

p, button {
    font-family: karla, sans-serif;
}

p {
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

button {
    background-color: #F4CE14;
    border: none;
    border-radius: 16px;
    color: #000;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
    height: 40px;
    width: 200px;
}