.container {
    padding: 30px 17%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-family: Karla, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1, h2, h4 {
    font-family: 'Markazi Text', serif;
}

h1 {
    color:#F4CE14;
    font-size: 64pt;
    font-weight: 500;
}

h2 {
    color: #FFF;
    font-size: 40pt;
    font-weight: normal;
}

h4 {
    color: #495E57;
    font-size: 20pt;
    font-weight: bold;
}

figure {
    padding: 0;
    margin: 0;
}

p, button {
    font-family: karla, sans-serif;
}

p {
    color: #495E57;
    font-size: 16pt;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

button {
    background-color: #F4CE14;
    border: none;
    border-radius: 16px;
    color: #000;
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;
    height: 40px;
    width: 200px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.borderRadius {
    border-radius: 16px;
}