.headerSection, .headerWrapper {
    display: flex;
}

.headerContainer {
    position: relative;
}

.headerSection {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.headerWrapper {
    flex-direction: column;
    gap: 16px;
}

.headerWrapper p {
    color: #FFF;
    font-size: 18pt;
    font-weight: 500;
    width: 440px

}

.headerImage {
    margin: 20px 0 0;
    height: 445px;
    overflow: hidden;
    width: 445px;
}

.headerImage img {
    margin-top: -121px;
    width: 100%;
}

.headerBck {
    background-color: #495E57;
    height: 431px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}