.sectionList li, .sectionList li a {
    color: #495E57;
    font-size: 16pt;
}

.footerContainer {
    align-items: center;
    background-color: #EDEFEE;
    flex-direction: column;
    justify-content: space-between;
}

.logoFigure {
    margin-bottom: 60px;
}

.footerWrapper {
    flex-direction: column;
    gap: 85px;
}

.footerSection {
    text-align: center;
}

.sectionHeading {
    margin-bottom: 30px;
}

.sectionList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sectionList li {
    font-family: Karla, sans-serif;
    font-weight: bold;
}

@media (min-width: 1095px) {
    .footerContainer {
        align-items: flex-start;
        flex-direction: row;
        gap: 60px;
        justify-content: unset;
    }

    .logoFigure {
        margin-bottom: 0;
    }

    .footerWrapper {
        flex-direction: row;
        gap: 85px;
    }

    .footerSection {
        text-align: left;
    }
}