.testimonialsSection {
    background-color: #495E57;
}

.testimonialsSection > h2 {
    margin-bottom: 20px;
    text-align: center;
}

.testimonialsCards {
    justify-content: space-between;
    gap: 16px;
}

.profileWrapper {
    align-items: center;
    gap: 16px;
}

.testimonialProfile {
    background-color: #FBDABB;
    gap: 16px;
    padding: 10px;
}

.profile {
    height: 80px;
    width: 80px;
}

.profile img {
    border: solid 2px #495E57;
    width: 100%;
}