
.navContainer {
    display: flex;
    margin: 10px 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navSection, .navLinks {
    align-items: center;
    gap: 90px;
}

.navLinks li a {
    font-family: karla, sans-serif;
    font-size: 16pt;
}

.navContainer figure {
    width: 200px;
}

.navContainer figure img {
    width: 100%;
}

.navLinks {
    padding: 0;
}

.navLinks li a {
    color: #000;
}