
nav {
    display: flex;
    margin: 10px 0;
}

.navContainer, .navLinks {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.navLinks li a {
    font-family: karla, sans-serif;
    font-size: 16pt;
}

.navContainer figure {
    width: 200px;
}

.navContainer figure img {
    width: 100%;
}

.navContainer {
    
}

.navLinks {
    list-style: none;
    padding: 0;
}

.navLinks li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}